@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=DM+Serif+Text:ital@0;1&family=Nova+Square&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=DM+Serif+Text:ital@0;1&family=Nova+Square&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{ 
    --cor_primaria: #092447;
    --cor_secundaria: rgb(29, 158, 29);
    --cor_texto: #000836;

    --fonte_logo: "Chakra Petch", sans-serif;
    --fonte_tamanho_logo: 1.5em;
    --fonte_menu_principal: "Chakra Petch", sans-serif;
    --fonte_titulo_informacoes: "Nova Square", sans-serif;
    --fonte_tamanho_titulo_informacoes: 4rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

#cabecalho {
    background-color: rgb(135, 121, 136);
    border-bottom: 2px solid rgba(0, 0, 0, 0.233);
    box-shadow: 0px 3px 6px rgba(0,0,0,.3);
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 0px 100px;
    place-items: center end;
}

#logo {
    display: grid;
    place-items: center;
}

#logotipo{
    width: 200px;
}

#menu_principal {
    padding: 0 10px;
    font-family: var(--fonte_menu_principal);
    font-weight: 600;
    display: grid;
    place-items: center center;
}

.itens_menu ul{
    list-style: none;
    padding: 10px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center end;
}

.itens_menu li a{
    text-decoration: none;
    color: var(--cor_texto);
    padding: 10px;
    transition: .3s;
}

.itens_menu li a:hover{
    border-bottom: 3px solid var(--cor_primaria);
    color: var(--cor_primaria);
}


#quem_sou.desktop {
    transition: background 2s;
    background: radial-gradient(var(--cor_secundaria), var(--cor_primaria));
    background-attachment: fixed;
    height: 87vh;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    place-items: center center;
}

#quem_sou.mobile {
    transition: background 2s;
    background: radial-gradient(var(--cor_secundaria), var(--cor_primaria));
    background-attachment: fixed;
    padding: 10px;
    display: none;
    grid-template-columns: 1fr;
   
}

#informacoes_texto {
    display: grid;
    grid-template-rows: 3fr 1fr 1fr;
    gap: 10px 0;
    padding: 50px;
}

#titulo_informacoes h1{
    font-family: var(--fonte_titulo_informacoes);
    font-size: var(--fonte_tamanho_titulo_informacoes);
    color: aliceblue;
}

button{
    font-size: 1rem;
    font-weight: bold;
    margin: 20px 0px;
    padding: 20px 100px;
    border-radius: 15px;
    cursor: pointer;
    border: none;
    background: linear-gradient(45deg, var(--cor_secundaria), var(--cor_primaria));
    color: aliceblue;
    transition: .3s;
}

button:hover{
    background: linear-gradient(45deg, var(--cor_primaria), var(--cor_secundaria));
    transform: scale(1.05);
}

#social {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    gap: 10px;
}

#foto {
    padding: 10px;
    display: grid;
    place-items: center;
    color: aliceblue;
}

#foto_apresentacao{
    border-radius: 15px;
}

#foto figure img{
    border-radius: 500px;
    box-shadow: 0 4px 15px rgba(0,0,0,.6);
}

.redes_sociais img:hover {
    filter: brightness(1.2) drop-shadow(0 0 5px #4a00e0);
    transform: scale(1.1);
    transition: .3s;
}

#corpo_sobre {
    background-color: rgb(223, 214, 179);
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr 4fr;
}

#titulo_sobre {
    background-color: blue;
    display: grid;
    place-items: center;
}

#secao_sobre {
    background-color: crimson;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
}

#foto_sobre {
    background-color: cornflowerblue;
    display: grid;
    place-items: center;
}

#descricao_sobre {
    background-color: rgb(89, 123, 186);
    display: grid;
    place-items: center;
}

#imagem_sobre{
    background-color: blueviolet;
    height: 90%;
    width: 90%;
}

#texto_sobre{
    background-color: rgb(220, 107, 212);
    height: 60%;
    width: 90%;
}

.celular{
    display: none;
}

/* Mobile */
@media (max-width: 800px){
    #cabecalho {
        place-items: end end;
    }

    #menu_principal.pc{
        display: none;
    }

    .celular{
    display: block;
    place-items: end end;
    
    }

    .itens_menu ul{
        flex-direction: column;
        align-items: center;
    }

    #menu_principal{
        place-items: center;
    }

    #quem_sou.desktop{
        display: none;
    }

    #quem_sou.mobile{
        display: grid;
    }
}
