@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Nova+Square&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=DM+Serif+Text:ital@0;1&family=Nova+Square&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=DM+Serif+Text:ital@0;1&family=Nova+Square&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{ /* Criação de variaveis */

    /* Cores */
    --cor_primaria: #092447;
    
    /* Fontes Logo*/
    --fonte_logo: "Chakra Petch", sans-serif;
    --fonte_tamanho_logo: 1.5em;

    /* Fonte Menu Princípal */
    --fonte_menu_principal: "Chakra Petch", sans-serif;

    /* Fonte titulo informações */
    --fonte_titulo_informacoes: "Nova Square", sans-serif;
    --fonte_tamanho_titulo_informacoes: 3rem


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




#cabecalho {

    background-color: rgb(135, 121, 136);
    
   
        /* width style color */
    border-bottom: 2px solid rgba(0, 0, 0, 0.233);

        /* Eixo X Eixo Y esfumaçado cor */
    box-shadow: 10px 0px 5px rgba(0,0,0,.5);

    padding: 10px;
    
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 0px 100px;


}

#logo {
    display: grid;
    place-items: center center;
}

#logotipo{
    width: 200px;
    

}

#logo p{
    
            /*  Fonte  |  Família  |  Tipo */
    font-family: var(--fonte_logo);
    font-weight: 800;
    font-style: normal;
    font-size: var(--fonte_tamanho_logo); /* rem (Raiz, Html) ou em (Pai) */

    line-height: 30px;
    letter-spacing: 1px;
    word-spacing: 10px;

    text-align: justify;

    text-transform: capitalize;
    text-decoration: none;

            /* Eixo X Eixo Y Esfumaçado Cor/Opacidade */
    /* text-shadow: 4px 4px 10px rgba(0,0,0,.5); */

    color: var(--cor_primaria);

            /* R G B */
    /* color: #ff8b00;

    color: rgba(177, 50, 50, 0.945) */
    
}



#menu_principal {
    padding: 0 10px;

    font-family: var(--fonte_menu_principal);
    font-weight: 600;
    font-style: normal;
    
   
    display: grid;

    /* ALgin (vertical) Justify (Horizontal) */
    place-items: end end;

}



#itens_menu ul{
    list-style: none;
    padding: 10px;

    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    align-items: end;
    justify-content: end;

}

#itens_menu li{

    /* background-color: var(--cor_primaria);*/

    color:#000836;

    padding: 10px;

}

#itens_menu li:hover{

    border-bottom: 3px solid var(--cor_primaria);
    color: var(--cor_primaria);
cursor: pointer;

}

        /* Pseudoclasse */
#quem_sou:hover{
    background: radial-gradient(var(--cor_primaria),rgb(12, 63, 12));
}

#quem_sou.desktop {
    transition: 2s;
    
    /* background-image: url(/portifolio/midias/img/Capa.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: certer; */

    /* Plano de fundo com gradiente linear - (ângulo, cor, cor) */
    /* background: linear-gradient(45deg, rgb(29, 158, 29), var(--cor_primaria)); */

    /* Plano de fundo com gradiente radial - (cor, cor, cor, n-cor) */
    background: radial-gradient(rgb(12, 63, 12), var(--cor_primaria));
    /*Efeito parallax - Imagem parada na rolagem  */
    background-attachment: fixed;


    height: 87vh;
    padding: 10px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 10px;
    place-items: center;
}

#quem_sou.mobile {
    transition: 2s;
    
    /* background-image: url(/portifolio/midias/img/Capa.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: certer; */

    /* Plano de fundo com gradiente linear - (ângulo, cor, cor) */
    /* background: linear-gradient(45deg, rgb(29, 158, 29), var(--cor_primaria)); */

    /* Plano de fundo com gradiente radial - (cor, cor, cor, n-cor) */
    background: radial-gradient(rgb(12, 63, 12), var(--cor_primaria));
    /*Efeito parallax - Imagem parada na rolagem  */
    background-attachment: fixed;


   
    padding: 10px;

    display: none;

    grid-template-columns: 1fr ;
    gap: 0px 10px;

   justify-items: start;


}


#informacoes_texto {
    
    display: grid;
    grid-template-columns: 0.7fr;
    grid-template-rows: 3fr 1fr 1fr;
    gap: 10px 0;

}

#titulo_informacoes {
   
    display: grid;
    font-family: var(--fonte_titulo_informacoes);
    font-size: var(--fonte_tamanho_titulo_informacoes);
    color: aliceblue;
}



button:hover{
     background: linear-gradient(45deg, var(--cor_primaria), rgb(29, 158, 29));
}

button{
    font-size: 1rem;
    font-weight: bold;
   
    margin: 20px 0px;

    padding:20px 100px;
    border-radius: 15px;
    box-shadow: rgba(0,0,0,.5);
    cursor: pointer;

    background: linear-gradient(45deg, rgb(29, 158, 29), var(--cor_primaria));
    color: aliceblue;
}


#social {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    gap: 10px;
  
}


#foto {
    
    padding: 10px;
    display: grid;
    place-items: center;
    color: aliceblue;


}

#foto_apresentacao{
    border-radius: 15px;
}


#foto figure img{
    border-radius: 500px;
    box-shadow: rgba(0,0,0,1);
}

.redes_sociais:hover {
    background: linear-gradient(90deg, #8e2de2, #4a00e0); /* Roxo vibrante para azul profundo */
}


#corpo_sobre {
    background-color: rgb(223, 214, 179);
    height: 100vh;
    display: none;
    grid-template-rows: 1fr 4fr;
}

#titulo_sobre {
    background-color: blue;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;

}

#sobre {
    background-color: blueviolet;
    height: 100px;
    width: 400px;
   
    
}

#secao_sobre {
    background-color: crimson;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
    
}

#foto_sobre {
    background-color: cornflowerblue;

    display: grid;
    place-items: center;
   
    
}

#descricao_sobre {
    background-color: rgb(89, 123, 186);
    display: grid;
    place-items: center;
}

#imagem_sobre{
    background-color: blueviolet;
    height: 90%;
    width: 90%;
}

#texto_sobre{
     background-color: rgb(220, 107, 212);
    height: 60%;
    width: 90%;
}


/* Adaptações para Mobile */

@media (max-width: 800px){
    #cabecalho{
        
    grid-template-columns: 1fr;

    }

    #itens_menu ul{

        flex-direction:column;
        justify-content: center;
        align-items: center;
    
    }

    #menu_principal{

        place-items: center center;
    }

    #quem_sou.desktop{
        display: none;
    }

    #quem_sou.mobile{
        display: grid;
    }


}

